*{
    margin: 0;
    padding: 0;
}
header{
   margin-top: -2%;
    height: 150px;
    width: 100%;
    background-color: #39579a;
}
nav{
    height: 150px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
}
li{
    color: white;
    margin: 2%;
    list-style: none;   
}
nav ul a li:hover{
  color:#9a4b39;
}
nav ul  a {
    
    text-decoration: none;
    width: 200px;
}

.formInscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formInscription input{
    height: 20px;
    width: 200%;
    margin-top: 10%;
}
.mainHome{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainHome h2{
margin: 0.5%;
}

.formListe h2 {
    color: #9a4b39;
}
.formListe input{
    height: 80px;
    width: 100px;
    border-radius: 360px;
    background-color:#1bb816;
    margin-top: 2%;
}
#selectOptions{
    width: 200px;
}
.formListe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    height: auto;
    width: 200%;
}

.signIn{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carre{
  
    height: 50vh;
    width: 30%;
    background-color: #39579a;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#todo{
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#test {
    height: 50vh;
    width: 90%;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #00000033;
    border-radius: 4px;
    margin-top: 2%;
    margin-bottom: 2%;
}
#afaire{
    display: flex;
    align-items: center;
    margin-left: 2%;
}
.listeForm{
    display: flex;
    justify-content: center;
}
.listeForm input ,.listeForm select{
    height: 30px;
    width: 100px;
    margin: 5%;
}
#formulairecreation{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    margin-bottom: 3%;
    margin-top: 5%;
    
}
#formulairecreation input{
   width:30vh ; 
}
#formulairecreation #todoTitre{
margin-top: 2%;
margin-bottom: 2%;
}


#encours{
height: 50vh;
    width: 90%;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #00000033;
    border-radius: 4px;
    margin-top: 2%;
    margin-bottom: 2%;
}
#terminer{
 height: 50vh;
    width: 90%;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #00000033;
    border-radius: 4px;
    margin-top: 2%;
    margin-bottom: 2%;
}
#delete{
    height: 30vh;
    width: 20%;
    display: flex;
    justify-content: center;
    
}
#delete img {
    height:30vh;
    width: fit-content;
  
}
.card{
    height:120px;
    border: 2px solid #355834;
    width:110px ;
    margin: 2%;
    background-color: #39579a;
    display: flex;
    
    flex-direction: column;
}
.card p,.card h2 {
    text-align: center;
    color : white;
}


footer{
    margin-top: 5%;
    height: 150px;
    background-color: #39579a;
    display: flex;
    justify-content: space-evenly;
}
footer img{
    height: 15vh;
    width: fit-content;
}
footer a {
    margin-top: 1%;
}
/* ----------------------------------------- MODAL FORM AJOUT TACHE LISTE---------------------------------------------------------------- */



.ajoutache{
    width:100px; 
    height: 70px;
    margin-bottom: 3%;
}
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 60vh;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .modal-content h2{
    text-align: center;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .formTache{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2%;
  }
  .formTache input{
    width: 30vh ;
    margin: 1%;
  }